@font-face {
  font-family: 'HankenGrotesk';
  src: url('../assets/fonts/HankenGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: white;
  --color-black: black;

  --navbar-height: 45px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* ===============
   Typography
=============== */

.typo-heading-lg,
.typo-display-lg,
.typo-display-md,
.typo-display-sm {
  font-family: 'HankenGrotesk', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.typo-heading-lg {
  font-size: 24px;
}
.typo-heading-md {
  font-size: 16px;
  font-weight: 700;
}
.typo-heading-sm {
  font-size: 14px;
  font-weight: 700;
}
.typo-body-md {
  font-size: 14px;
}
.typo-body-sm {
  font-size: 12px;
}

.typo-display-lg {
  font-size: 40px;
}
.typo-display-md {
  font-size: 30px;
}
.typo-display-sm {
  font-size: 18px;
}

@media (min-width: 768px) {
  .typo-heading-lg {
    font-size: 40px;
  }
  .typo-heading-sm {
    font-size: 16px;
  }
  .typo-body-sm {
    font-size: 14px;
  }

  .typo-display-lg {
    font-size: 60px;
  }
  .typo-display-md {
    font-size: 45px;
  }
  .typo-display-sm {
    font-size: 29px;
  }
}

@media (min-width: 1024px) {
  .typo-display-lg {
    font-size: 80px;
  }
  .typo-display-md {
    font-size: 60px;
  }
  .typo-display-sm {
    font-size: 40px;
  }
}

/* ===============
   Components
=============== */

.header {
  position: sticky;
  top: 0;
  z-index: 20;
}

/* Navbar */
.navbar {
  position: relative;
  background: var(--color-white);
  height: var(--navbar-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}
@media (min-width: 1024px) {
  .navbar {
    padding: 0 40px;
  }
}

.navbar__left {
  position: relative;
}

.navbar__lang,
.navbar__signin {
  padding: 10.5px 10px;
}

.navbar__lang {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: var(--color-white);
  opacity: 1;
  z-index: 10;
  transition: opacity 0.1s linear;
}

.navbar__lang.is-open {
  opacity: 0.5;
}

.navbar__lang-label,
.navbar__lang-option,
.navbar__signin {
  font-size: 13px;
}

.navbar__lang-dropdown {
  position: absolute;
  background: var(--color-white);
  padding: 10px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 0.3s linear;
  width: max-content;
}

.navbar__lang-dropdown.is-open {
  opacity: 1;
  transform: translate(-50%, 100%);
}

.navbar__toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .navbar__toggle {
    display: none;
  }
}

.navbar__toggle.is-open .navbar__icon--menu {
  display: none;
}

.navbar__icon--close {
  display: none;
}

.navbar__toggle.is-open .navbar__icon--close {
  display: block;
}

.navbar__backdrop--white {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  transition: background 0.5s ease;
  pointer-events: none;
}
.navbar__backdrop--white.is-open {
  background: var(--color-white);
}

@media (min-width: 768px) {
  .navbar__backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    z-index: 30;
    background: transparent;
    transition: background 0.8s ease;
    pointer-events: none;
  }
  .navbar__backdrop.is-open {
    background: black;
  }
}

.navbar__menu {
  display: none;
  list-style: none;
  font-size: 13px;
}
@media (min-width: 768px) {
  .navbar__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 40;
  }
}
@media (min-width: 1024px) {
  .navbar__menu {
    gap: 24px;
  }
}

.navbar__menu.is-open {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 30;
}

.navbar__item {
  position: relative;
}

.navbar__link,
.navbar__link--label {
  font-weight: 400;
  transition:
    font-weight 0.3s ease,
    transform 0.3s ease,
    margin 0.3s ease;
}

.navbar__link--label {
  display: none;
}
@media (min-width: 768px) {
  .navbar__link,
  .navbar__link--label {
    display: inline-block;
  }
  .navbar__link--label {
    color: var(--color-white);
    margin-bottom: 6px;
  }
}

.navbar__item:has(.navbar__submenu.is-open) > .navbar__link {
  font-weight: 700;
  transform: scale(1.5);
}
@media (min-width: 1024px) {
  .navbar__item:hover > .navbar__link,
  .navbar__link--label {
    font-weight: 700;
    transform: scale(1.3);
    margin: 0 10px;
  }
}

.navbar__link {
  text-transform: uppercase;
  padding: 8px 10px;
}

.navbar__link:not(.navbar__link--label):not(.navbar__link--button) {
  display: inline-block;
}

.navbar__link--button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 13px;
  font: inherit;
  width: 100%;
  opacity: 1;
}

@media (min-width: 768px) {
  .navbar__link--button .navbar__icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar__link--button.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.navbar__link--anchor,
.navbar__signin {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}

.navbar__submenu {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.6s ease,
    opacity 0.4s linear;
}
@media (min-width: 768px) {
  .navbar__submenu {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }
  .navbar__submenu.is-open {
    pointer-events: auto;
  }
}

.navbar__submenu.is-open {
  max-height: 350px;
  opacity: 1;
}

.navbar__subitem {
  display: flex;
  justify-content: center;
  padding: 7.5px 10px;
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.5s ease;
  cursor: pointer;
}
@media (min-width: 768px) {
  .navbar__subitem {
    justify-content: start;
    transform-origin: top left;
  }
}

.navbar__subitem:last-child {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .navbar__subitem:last-child {
    padding-bottom: 0;
  }
}

.navbar__subitem:hover {
  transform: scale(1.1);
}

.navbar__sublink {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
  white-space: nowrap;
}
@media (min-width: 768px) {
  .navbar__sublink {
    color: var(--color-white);
    padding-right: 10px;
  }
}

.navbar__right {
  display: flex;
}
@media (min-width: 768px) {
  .navbar__right {
    gap: 4px;
  }
}

.navbar__signin {
  display: inline-block;
  transition: opacity 0.3s ease;
}

.navbar__signin:hover {
  opacity: 0.5;
}

.navbar__bag {
  padding: 8px 2px;
  display: flex;
  align-items: center;
  transform: translateY(-1px);
}
@media (min-width: 768px) {
  .navbar__bag {
    padding: 8px 10px;
    display: flex;
    align-items: center;
  }
}

/* Hero */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero__video,
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__title {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  padding: 11px 7px 13px;
  z-index: 10;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: transform 0.5s ease;
}
@media (min-width: 768px) {
  .hero__title {
    padding: 25px 20px 0;
  }
}

.hero__title.is-menu-open {
  transform: translateY(calc(100dvh - var(--navbar-height) - 100%));
  z-index: 20;
}

.hero__title-image {
  width: 100%;
  display: block;
  transform-origin: 50% 0%;
  transition: 1s;
}

@media (min-width: 768px) {
  .hero__title-image.is-scaled {
    transform: scale(0.4);
  }
}
@media (min-width: 1024px) {
  .hero__title-image.is-scaled {
    transform: scale(0.23);
  }
}

.hero-image {
  display: none;
}

/* Category Section */
.category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 100px 0;
}

.category-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .category-card {
    padding: 0 50px;
  }
}

.category-card--new .category-card__media {
  width: 100%;
  max-width: 282px;
  height: auto;
  aspect-ratio: 282 / 286;
}
@media (min-width: 768px) {
  .category-card--new .category-card__media {
    max-width: 424px;
    aspect-ratio: 424 / 429;
  }
}
@media (min-width: 1024px) {
  .category-card--new .category-card__media {
    max-width: 566px;
    aspect-ratio: 566 / 572;
  }
}

.category-card--best .category-card__media {
  width: 100%;
  max-width: 346px;
  height: auto;
  aspect-ratio: 346 / 219;
}
@media (min-width: 768px) {
  .category-card--best .category-card__media {
    max-width: 773px;
    aspect-ratio: 773 / 489;
  }
}
@media (min-width: 1024px) {
  .category-card--best .category-card__media {
    max-width: 1200px;
    aspect-ratio: 1200 / 759;
  }
}

.category-card__media {
  position: relative;
}

.category-card__frame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-card__overlay {
  position: sticky;
  top: 20%;
  z-index: 10;
}
@media (min-width: 1024px) {
  .category-card__overlay {
    top: 32%;
  }
}

.category-card__label {
  color: var(--color-white);
  width: max-content;
  z-index: 10;
  line-height: 1;
}

.category-card__image,
.category-card__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-card__content {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 20px;
  padding: 0 24px;
}
@media (min-width: 768px) {
  .category-card__content {
    max-width: 650px;
    padding: 0;
  }
}

.category-card__heading {
  margin-bottom: 14px;
}

.category-card--collection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .category-card--collection {
    gap: 60px;
  }
}

.category-card--collection .category-card__media {
  overflow: hidden;
}

.category-card--collection .category-card__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-card__row {
  display: flex;
  justify-content: space-between;
}

.category-card__image--lg {
  display: block;
  width: 100%;
  max-width: 346px;
  height: auto;
}
.category-card__image--md {
  display: block;
  width: 100%;
  max-width: 161px;
  height: auto;
  transform: translateY(0%);
  transition: transform 0.3s ease;
}
@media (min-width: 768px) {
  .category-card__image--lg {
    max-width: 662px;
  }
  .category-card__image--md {
    max-width: 307.5px;
  }
}
@media (min-width: 1024px) {
  .category-card__image--lg {
    max-width: 978px;
  }
  .category-card__image--md {
    max-width: 454px;
  }
}

.category-card__video--hover {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.category-card__media:hover > .category-card__video--hover {
  opacity: 1;
}

.category-card__image--hover {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.category-card__media:hover > .category-card__image--hover {
  opacity: 1;
}

.category-card__media:hover
  > .category-card__image--md:not(.category-card__image--hover) {
  transform: translateY(3px);
}

/* Scroll Banner Section */
.scroll-banner {
  position: relative;
  height: 85px;
  background: black;
  overflow: hidden;
}

.scroll-banner__track {
  display: flex;
  align-items: center;
  width: max-content;
  animation: scrollText 20s linear infinite;
  gap: 20px;
}
@media (min-width: 768px) {
  .scroll-banner__track {
    gap: 57.5px;
    animation: scrollText 25s linear infinite;
  }
}
@media (min-width: 1024px) {
  .scroll-banner__track {
    gap: 95px;
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.scroll-banner__group {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 60px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .scroll-banner__group {
    gap: 57.5px;
  }
}
@media (min-width: 1024px) {
  .scroll-banner__group {
    gap: 95px;
  }
}

.scroll-banner__text {
  font-family: 'HankenGrotesk', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .scroll-banner__text {
    font-size: 42px;
  }
}
@media (min-width: 1024px) {
  .scroll-banner__text {
    font-size: 60px;
  }
}

.scroll-banner__icon--reverse {
  transform: scaleX(-1);
}

/* Services Section */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 100px 0;
}
@media (min-width: 768px) {
  .services {
    gap: 87px;
  }
}
@media (min-width: 1024px) {
  .services {
    flex-direction: row;
    gap: 126px;
    padding: 140px 0;
  }
}

.services__item {
  max-width: 283px;
}
@media (min-width: 768px) {
  .services__item {
    max-width: 420px;
  }
}
@media (min-width: 1024px) {
  .services__item {
    max-width: 283px;
  }
}

.services__title {
  text-transform: uppercase;
  margin-bottom: 14px;
}

.services__description {
  opacity: 0.6;
}

.text-underline {
  text-decoration: underline;
}

/* FAQ Section */
.faq {
  background: var(--color-black);
  color: var(--color-white);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq__heading {
  margin-bottom: 16px;
  max-width: 300px;
  text-align: center;
}
@media (min-width: 768px) {
  .faq__heading {
    max-width: 100%;
  }
}

.faq__description {
  font-size: 14px;
  max-width: 350px;
  text-align: center;
}
@media (min-width: 768px) {
  .faq__description {
    max-width: 100%;
  }
}

.faq__tab {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px 0 calc(60px - 24px); /* 24px = padding-top of .faq__item */
}
@media (min-width: 768px) {
  .faq__tab {
    flex-direction: row;
    gap: 16px;
    padding: 36px 0 calc(100px - 24px); /* 24px = padding-top of .faq__item */
  }
}

.faq__tab-button {
  border-radius: 100px;
  padding: 10px 15px;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.2);
  border: 0.5px solid #828282;
  transition: all 0.2s;
  width: fit-content;
  margin: 0 auto;
}

.faq__tab-button.is-active {
  color: var(--color-black);
  background: var(--color-white);
}

.faq__tab-button:disabled {
  cursor: default;
  opacity: 0.5;
}

.faq__tab-button:not(:disabled):not(.is-active):hover {
  background: rgba(255, 255, 255, 0.3);
}

.faq__list {
  width: 100%;
  display: none;
  flex-direction: column;
  padding: 0 22px;
}
@media (min-width: 768px) {
  .faq__list {
    max-width: 800px;
    padding: 0 50px;
  }
}
@media (min-width: 1024px) {
  .faq__list {
    max-width: 1150px;
  }
}

.faq__list.is-active {
  display: flex;
}

.faq__item {
  padding: 24px 0;
  cursor: pointer;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
}

.faq__question {
  display: flex;
  justify-content: space-between;
}

.faq__question-text {
  font-size: 16px;
  font-weight: 700;
}

.faq__icon {
  transition: transform 0.6s;
}

.faq__answer {
  max-height: 0px;
  overflow: hidden;
  font-size: 14px;
  opacity: 0;
  transition:
    max-height 0.6s ease,
    opacity 0.4s linear;
}

.faq__answer-inner {
  padding-top: 14px;
}

.faq__item.is-open .faq__icon {
  transform: rotate(180deg);
}

.faq__item.is-open .faq__answer {
  max-height: 350px;
  opacity: 0.6;
  transform: translateY(0);
}
@media (min-width: 768px) {
  .faq__item.is-open .faq__answer {
    max-height: 60px;
  }
}

/* Inquiry Section */
.inquiry {
  position: relative;
  padding: 100px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  max-width: 400px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .inquiry {
    max-width: 650px;
  }
}
@media (min-width: 1024px) {
  .inquiry {
    padding: 100px 0;
    flex-direction: row;
    gap: 145px;
    max-width: unset;
  }
}

.inquiry__title {
  max-width: 375px;
}

.inquiry__heading {
  font-family: 'HankenGrotesk', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .inquiry__heading {
    width: 200px;
  }
}

.inquiry__description {
  font-size: 14px;
  max-width: 305px;
}

.inquiry__form {
  width: 100%;
}
@media (min-width: 768px) {
  .inquiry__form {
    max-width: 650px;
  }
}

.inquiry__work-type {
  display: flex;
  gap: 21px;
}

.inquiry__option {
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.inquiry__radio {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.inquiry__radio:checked::after {
  content: '';
  width: 12px;
  height: 12px;
  background: var(--color-black);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inquiry__fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 21px 0;
}
@media (min-width: 768px) {
  .inquiry__fields {
    grid-template-columns: repeat(2, 1fr);
  }
}

.inquiry__field,
.inquiry__select {
  position: relative;
  padding: 18px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.inquiry__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  transition: opacity 0.3s ease;
}

.inquiry__input:placeholder-shown + .inquiry__label,
.inquiry__toggle.is-placeholder + .inquiry__label {
  opacity: 0;
}

.inquiry__input:not(:placeholder-shown) + .inquiry__label,
.inquiry__toggle:not(.is-placeholder) + .inquiry__label {
  opacity: 0.3;
}

.inquiry__input,
.footer__input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.inquiry__input,
.inquiry__label--placeholder,
.inquiry__select {
  font-size: 14px;
}

.inquiry__input::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.inquiry__select {
  width: 100%;
}

.inquiry__arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: auto;
}

.inquiry__toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inquiry__toggle.is-placeholder .inquiry__label--placeholder {
  opacity: 0.3;
}

.inquiry__menu {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  background: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  display: none;
  z-index: 10;
}

.inquiry__item {
  padding: 10px;
  cursor: pointer;
}

.inquiry__item:hover {
  background: #f8f9f8;
}

.inquiry__select.is-open .inquiry__menu {
  display: block;
}

.inquiry__agreement {
  display: flex;
  align-items: center;
}

.inquiry__checkbox {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.inquiry__checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.inquiry__checkbox input:checked + .inquiry__checkmark::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: 1px solid var(--color-black);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.inquiry__checkmark {
  width: 17px;
  height: 17px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  display: inline-block;
  position: relative;
}

.inquiry__agreement-text {
  font-size: 14px;
  opacity: 50%;
  transform: translateY(1px);
}

.inquiry__submit {
  padding: 17px 47.5px;
  background: var(--color-black);
  color: var(--color-white);
  margin-top: 40px;
  font-size: 16px;
}

.inquiry__back-to-top {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 13px;
  padding: 10.5px 10px;
}
@media (min-width: 768px) {
  .inquiry__back-to-top {
    bottom: 0px;
  }
}

/* Footer Section */
.footer {
  padding: 32px 22px;
  background: #f8f9f8;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
@media (min-width: 768px) {
  .footer {
    padding: 32px 60px 46px;
  }
}

.footer__inner {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 62px;
}
@media (min-width: 1024px) {
  .footer__inner {
    flex-direction: row;
  }
}

.footer__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 0;
  flex: 1 1 65%;
}
@media (min-width: 768px) {
  .footer__columns {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer__title {
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 30px;
  }
}

.footer__list {
  opacity: 60%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer__item {
  font-size: 12px;
}

.footer__newsletter {
  flex: 0 0 35%;
  max-width: 390px;
}

.footer__newsletter .footer__title {
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .footer__newsletter .footer__title {
    margin-bottom: 20px;
  }
}

.footer__field {
  position: relative;
  width: 100%;
  padding: 11.5px 0;
  border-bottom: 0.5px solid var(--color-black);
}

.footer__input {
  font-size: 12px;
}

.footer__subscribe-btn {
  width: 100%;
  background: #e0e0e0;
  padding: 10px 0;
  font-size: 12px;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .footer__subscribe-btn {
    margin-top: 20px;
  }
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
