@font-face {
  font-family: 'HankenGrotesk';
  src: url('../assets/fonts/HankenGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: white;
  --color-black: black;

  --navbar-height: 45px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* ===============
   Typography
=============== */

.typo-heading-lg,
.typo-display-lg,
.typo-display-md,
.typo-display-sm {
  font-family: 'HankenGrotesk';
  font-weight: 900;
}

.typo-heading-lg {
  font-size: 24px;
}
.typo-heading-md {
  font-size: 16px;
  font-weight: 700;
}
.typo-heading-sm {
  font-size: 14px;
  font-weight: 700;
}
.typo-body-md {
  font-size: 14px;
}
.typo-body-sm {
  font-size: 12px;
}

.typo-display-lg {
  font-size: 40px;
}
.typo-display-md {
  font-size: 30px;
}
.typo-display-sm {
  font-size: 18px;
}

@media (min-width: 768px) {
  .typo-heading-lg {
    font-size: 40px;
  }
  .typo-heading-sm {
    font-size: 16px;
  }
  .typo-body-sm {
    font-size: 14px;
  }

  .typo-display-lg {
    font-size: 80px;
  }
  .typo-display-md {
    font-size: 60px;
  }
  .typo-display-sm {
    font-size: 40px;
  }
}

/* ===============
   Components
=============== */

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Navbar */
.navbar {
  position: relative;
  background: var(--color-white);
  height: var(--navbar-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  font-size: 13px;
}
@media (min-width: 1024px) {
  .navbar {
    padding: 0 40px;
  }
}

.navbar__lang,
.navbar__item,
.navbar__signin {
  padding: 10.5px 10px;
}

.navbar__lang {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.navbar__toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .navbar__toggle {
    display: none;
  }
}

.navbar__toggle.is-open .navbar__icon--menu {
  display: none;
}

.navbar__icon--close {
  display: none;
}

.navbar__toggle.is-open .navbar__icon--close {
  display: block;
}

.navbar__menu {
  display: none;
  list-style: none;
}
@media (min-width: 768px) {
  .navbar__menu {
    display: flex;
  }
}

.navbar__menu.is-open {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

.navbar__link,
.navbar__signin {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}

.navbar__right {
  display: flex;
}
@media (min-width: 768px) {
  .navbar__right {
    gap: 4px;
  }
}

.navbar__signin {
  display: inline-block;
}

.navbar__bag {
  padding: 8px 2px;
  display: flex;
  align-items: center;
  transform: translateY(-1px);
}
@media (min-width: 768px) {
  .navbar__bag {
    padding: 8px 10px;
    display: flex;
    align-items: center;
  }
}

/* Hero */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero__video,
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__title {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  padding: 11px 7px 0;
  z-index: 10;
  mix-blend-mode: difference;
}
@media (min-width: 768px) {
  .hero__title {
    padding: 25px 20px 0;
  }
}

.hero__title-image {
  width: 100%;
  display: block;
}

.hero-image {
  display: none;
}
