* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: white;
  --color-black: black;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}
